<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>21070001009</title>

	<meta name="author" content="Berkant Gürcan">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<a class="text-center" id="logout-button" th:href="@{/logout}">Logout</a>
			<h1 class="text-center">
				COMP 4441 Assigment
			</h1>
			<h4 class="text-center row justify-content-center">User:<p th:text="${username}"></p></h4>
			<div class="tabbable" id="tabs-858953">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active show" href="#tab1" data-toggle="tab">Send</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab2" data-toggle="tab">Receive</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<table class="table table-sm">
							<thead>
							<tr>
								<th>
									id
								</th>
								<th>
									Name
								</th>
								<th>
									Type
								</th>
								<th>
									By
								</th>
								<th>
									Signed
								</th>
								<th>
									Encrypted
								</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="file : ${senderFiles}">
								<td th:text="${file.id}"/>
								<td th:text="${file.name}"/>
								<td th:text="${file.type}"/>
								<td th:text="${file.publisher}"></td>
								<td>
									<p th:if="${file.signed != null}">Signed</p>
									<a th:if="${file.signed == null}" th:href="@{/sign/{id}(id=${file.id})}">Sign</a>
								</td>
								<td>
									<p th:if="${file.encrypted != null}">Encrypted</p>
									<a th:if="${file.encrypted == null}" th:href="@{/encrypt/{id}(id=${file.id})}">Encrypt</a>
								</td>
							</tr>
							</tbody>
						</table>

						<form
								id="uploadForm"
								method="post"
								th:action="@{/upload}"
								enctype="multipart/form-data">
							<input id="input-file" type="file" name="file" />
							<button class="btn btn-sm btn-outline-success" id="submit-button" type="submit">
								Upload
							</button>
						</form>
					</div>
					<div class="tab-pane" id="tab2">
						<table class="table table-sm">
							<thead>
							<tr>
								<th>
									id
								</th>
								<th>
									Name
								</th>
								<th>
									Type
								</th>
								<th>
									By
								</th>
								<th>
									Signed
								</th>
								<th>
									Encrypted
								</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="file : ${receiverFiles}">
								<td th:text="${file.id}"/>
								<td th:text="${file.name}"/>
								<td th:text="${file.type}"/>
								<td th:text="${file.publisher}"></td>
								<td>
									<a th:if="${file.signed != null}" th:href="@{/verify/{id}(id=${file.id})}">Verify</a>
									<p th:if="${file.signed == null}">Not signed</p>
								</td>
								<td>
									<a th:if="${file.encrypted != null}" th:href="@{/decrypt/{id}(id=${file.id})}">Decrypt</a>
									<p th:if="${file.encrypted == null}">Not encrypted</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>